main {
  background-color: #f8f9fa;
  min-height: 100vh;
}

.crawl_message {
  width: 90%;
  margin: 50px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
}

#progress_gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

li {
  margin-bottom: 10px;
}

.row {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.card {
  border-radius: 0.8rem !important;
}

.mb-4 {
  margin: 1rem !important;
}

.only-row{
  padding-top: 50px;
}

.heading{
  text-align: center;
}
.only-card{
  padding: 30px;
}