<div class="row">
  <div class="col card border-0 shadow mb-4" id="hello">
    <div class="card-body">
      <div id="postsContainer" class="table table-striped">
        <table id="poststable" class="wrap" width="100%;"></table>
      </div>
    </div>
  </div>
</div>

<!--Datatables-->
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"
/>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>

<style>
  .datatable td {
    max-width: 250px;
    max-height: 100px;
    overflow: auto !important; /* this is what fixes the expansion */
    /*text-overflow: ellipsis !important; /* not supported in all browsers, but I accepted the tradeoff */
    /* white-space: nowrap !important; */
  }
</style>

<!--Bootstrap 3-->
<!-- <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css"
/> -->
