<div class="row">
  <div id="download_segment" style="display:none;">
    <div class="alert alert-warning crawl_message" role="alert">
      <h2 class="alert-heading">Crawling in progress...</h2>
      <br />
      <p>
        Crawling data from <b><span id="keyword"></span></b>...
      </p>
      <hr />
      <p class="mb-0">
        Kindly give us a moment while we complete your downloading. The more the
        available data, the longer the downloading period.
      </p>
      <br />

      <form name="cancel" action="{% url 'main:cancel' %}" method="get">
        <input type="submit" value="Cancel Task and Delete all crawled data" class="btn btn-danger" />
        <input type="hidden" name="task_type" value="" />
        <input type="hidden" name="id" value="" />
      </form>
    </div>

    <img
      id="progress_gif"
      src="/static/main/images/rotator2.gif"
      alt="downloading in progress"
    />
    <p style="text-align:center;"><b>Crawling...</b></p>
  </div>
</div>
