{% extends 'main/base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />

<script>
  function validateDates() {
    var start_date = document.forms["query_form"]["start_date"].value;
    var end_date = document.forms["query_form"]["end_date"].value;
    var text = "all ok";
    if (start_date == "" || end_date == ""){
      alert("Please select a start and end month.");
      return false;
    }
    else if (start_date !== "" && end_date !== "") {
      d1 = Date.parse(start_date);
      d2 = Date.parse(end_date);
      if (d1 > d2) {
        console.log("d1>d2!");
        alert("Start date should be same or earlier than end date.");
        return false;
      }
    }
    downloadView();
  }
  function downloadView() {
    // Values
    document.getElementById("keyword").textContent = document.forms["query_form"]["keyword"].value;
    document.getElementById("start_date").textContent = document.forms["query_form"]["start_date"].value;
    document.getElementById("end_date").textContent = document.forms["query_form"]["end_date"].value;
    
    // Visibility
    var download_segment = document.getElementById("download_segment");
    var query_segment = document.getElementById("query_segment");
    download_segment.style.display = "block";
    query_segment.style.display = "none";
  }
</script>

<!-- QUERY -->
<div id="query_segment"" class="query_box">
  <h3>Tieba and Date selection</h3>
  <br />
  <form
    name="query_form"
    action="{% url 'main:crawl' %}"
    onsubmit="return validateDates()"
    method="post"
  >
    {% csrf_token %}
    {% if forums %}
    <p>Tieba</p>
    <select class="form-control" name="keyword">
      {% for f in forums %}
      <option value="{{ f }}">{{ f }}</option>
      {% endfor %}
    </select>
    <br />

    <p>Start Month</p>
    <input type="month" name="start_date" class="form-control" />
    <br />
    <p>End Month</p>
    <input type="month" name="end_date" class="form-control" />
    <br />
    <input
      type="submit"
      value="Download Comments and Replies"
      class="btn btn-success"
    />

    {% else %}
    <p>No relevant forums/tieba. Would you like to return to home page?</p>
    <a href="{% url 'main:index' %}"> Return to Home Page</a>
    {% endif %}
  </form>
</div>

<!-- DOWNLOADING -->
<div id="download_segment">
  <div class="alert alert-warning crawl_message" role="alert">
    <h2 class="alert-heading">Downloading in progress...</h2>
    <br />
    <p>
      Downloading comments, replies, and popular forums/tieba among users who had
      posted:
      <ul>
        <li>in <b><span id="keyword"></span></b></li>
        <li>from <b><span id="start_date"></span></b></li>
        <li>to <b><span id="end_date"></span></b></li>
      </ul>
    </p>
    <hr />
    <p class="mb-0">
      Kindly give us a moment while we complete your downloading. The more the
      available data, the longer the downloading period.
    </p>
    <br>
    
    <form action="{% url 'main:cancel' %}" method="get">
        <input type="submit" value="Cancel this task" class="btn btn-success">
    </form>
  </div>

  <img
    id="progress_gif"
    src="/static/main/images/rotator2.gif"
    alt="downloading in progress"
  />
  <p style="text-align:center;"><b>Downloading...</b></p>
</div>
{% endblock %}
