{% extends 'main/base.html' %} {% block content %} {% load static %}

<div class="container">

  <!-- QUERY -->
  <div class="row">
    <div id="query_segment" class="col card border-0 shadow mb-4" style="display:block;">
      <div class="card-body">
      <h3>Tieba and Date selection</h3>
      <br />

      <form
        name="query_form"
        action="{% url 'main:downloaded' %}"
        onsubmit="return validate()"
        method="post"
      >
        {% csrf_token %}
        {% if forums %}
        <p>Tieba</p>
        <select class="form-control" name="keyword">
          {% for f in forums %}
          <option value="{{ f }}">{{ f }}</option>
          {% endfor %}
        </select>
        <br />

        <p>Start Month</p>
        <div class="form-inline">
          <select id="start_date_year" name="start_date_year" class="form-control" style="margin-right:10px;">
          </select>
          <select id="start_date_month" name="start_date_month" class="form-control" value="7">
          </select>
        </div>
        <br />

        <p>End Month <i>(inclusive of selected month)</i></p>
        <div class="form-inline">
          <select id="end_date_year" name="end_date_year" class="form-control" style="margin-right:10px;">
          </select>
          <select id="end_date_month" name="end_date_month" class="form-control">
          </select>
        </div>
        <br />
        <input
          type="submit"
          value="Start Crawling!"
          class="btn btn-success"
        />
        <input type="hidden" name="task_id" value="" />
        <br>
        <br>
        
        {% else %}
        <p>No relevant forums/tieba. Would you like to return to home page?</p>
        <a href="{% url 'main:index' %}"> Return to Home Page</a>
        {% endif %}
      </form>
    </div>
    </div>
  </div>

  <!-- DOWNLOADING -->
  {% include 'main/downloading_message.html' %}
</div>

<!--CSS & JS-->
<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />
<script src="{% static "main/js/date.create.dropdown.js" %}"></script>
<script src="{% static "main/js/search.tieba.js" %}"></script>

{% endblock %}
