{% extends 'main/base.html' %} {% block content %} {% load static %}

<div class="container">

  <!--SEARCH BOX-->
  <div id="query_box" class="row only-row">
    <div class="col"></div>
    <div class="col-10 card border-0 shadow mb-4 only-card">
      <div class="card-body">
      <h2 class="heading">Search and Crawl</h2>
      <br><br>
        <ul
          class="nav nav-tabs md-tabs nav-justified"
          id="myTabMD"
          role="tablist"
        >
          <li class="nav-item" style="font-weight: bold;">
              <a
                class="nav-link active"
                id="tieba_search"
                data-toggle="tab"
                href="#tieba_searchbox"
                role="tab"
                aria-controls="tieba"
                aria-selected="true"
                >Search for Tieba
                <img src="/static/main/images/tieba_icon.png" height="25px" alt="Tieba">
                </a>
          </li>
          <li class="nav-item" style="font-weight: bold;">
            <a
              class="nav-link"
              id="weibo_search"
              data-toggle="tab"
              href="#weibo_searchbox"
              role="tab"
              aria-controls="weibo"
              aria-selected="false"
              >Crawl Weibo User
              <img src="/static/main/images/weibo_icon.png" height="25px" alt="Weibo">
              </a>
          </li>
        </ul>
        <div class="tab-content card card-body pt-5 " id="myTabContentMD">
                   
          <!-- Tieba tab -->
          <div
            class="tab-pane active"
            id="tieba_searchbox"
            role="tabpanel"
            aria-labelledby="tieba_search"
          >
            <form
              id="tieba_form"
              name="tieba_form"
              action="{% url 'main:home' %}"
              method="get"
            >
              <input
                type="text"
                name="kw"
                placeholder="Enter keywords, separate multiple keywords with a space"
                class="form-control"
              /><br />

              <input
                type="submit"
                value="Search for available Tieba"
                class="btn btn-success"
              /><br /><br />
            </form>

            {% if history_tieba %}
            <form action="{% url 'main:home'%}" method="get">
              <p>
                <i>Or search by previous tieba crawled instead:</i>
                <select
                  name="tieba"
                  class="form-control"
                  style="display:inline-block;"
                  onchange="this.form.submit()"
                >
                  <option disabled selected value>
                    -- select an option --
                  </option>
                  {% for tieba in history_tieba %}
                  <option value="{{ tieba }}">{{ tieba }}</option>
                  {% endfor %}
                </select>
              </p>
            </form>
            {% endif %}
          </div>

          <!-- Weibo tab -->
          <div
            class="tab-pane"
            id="weibo_searchbox"
            role="tabpanel"
            aria-labelledby="weibo_search"
          >
            <form
              id="weibo_form"
              name="weibo_form"
              onsubmit="return validate()"
              action="{% url 'main:weibo' %}"
              method="post"
            >
            {% csrf_token %}
              <input
                type="text"
                name="keyword"
                placeholder="Enter Weibo username"
                class="form-control"
              /><br />
              <p>If there is no exact match for the provided user name, the highest ranked user in weibo's suggested list will be crawled instead.</p>
              <input
                type="submit"
                value="Crawl User!"
                class="btn btn-success"
              />
              <input type="hidden" name="uid" value="" />
              <input type="hidden" name="uname" value="" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>

  <!-- DOWNLOADING (WEIBO)-->
  {% include 'main/downloading_message.html' %}
</div>

<script src="{% static "main/js/search.weibo.js" %}"></script>
<script>
  $(function() {
    $(".nav-tabs a").click(function(e) {
      e.preventDefault();
      $(".tab-pane").removeClass("active");
      var pane_id = $(this).attr("href");
      $(pane_id).addClass("active");
    });
  });
</script>

{% endblock %}
