<!--Query-->
<div class="row">
  <div class="col card border-0 shadow mb-4">
    <div class="card-body">
      <h6>{{ title }}</h6>
      <hr />

      <div class="row">
        <div class="col-4">
          <select
            id="media"
            class="form-control"
            onchange="display_past_crawls(this.value);"
          >
            <option disabled selected value> -- select an option -- </option>
          </select>
        </div>

        <div class="col-3">
          <select id="dates" class="form-control" onchange="getFolder();">
            <option disabled selected value> -- select an option -- </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
