<!-- Results page for Weibo -->
{% extends 'main/base.html' %} {% block content %}
{% if folder %}
  <div class="alert alert-success crawl_message" role="alert">
      <h4 class="alert-heading">Crawling Complete!</h4>
      <br />
      <p>
        We have crawled for you the posts of <b>{{ keyword }}</b>.
      </p>
  </div>
  
  <!--Table-->
  {% include 'main/components_weibo.html' %} {% load staticfiles %}

{% else %}
  <div class="alert alert-warning crawl_message" role="alert">
    <h4 class="alert-heading">Crawling Complete...</h4>
    <br />
    <p><b>No posts were found in {{ keyword }} .</p>
  </div>
{% endif %}

<script src="{% static "main/js/analysis.weibo.display.js" %}"></script>
<script>
  getAnalysis("{{ folder }}");
</script>


{% endblock %}